name: Build Case

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "board/**"
      - ".github/workflows/case.yml"
      - "package.json"
    tags:
      - "v*.*.*"
  pull_request:
    paths:
      - "board/**"
      - ".github/workflows/case.yml"
      - "package.json"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
          
      - name: Install dependencies
        run: bun install
        
      - name: Build case
        run: bun run case
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: case
          path: board/output/cases/case.stl

  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    needs: build
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: case
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: "case.stl"
          draft: false
          prerelease: false
          fail_on_unmatched_files: true