#include <physical_layouts.dtsi>

/ {
    default_layout: keymap_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";
        transform = <&default_transform>;

        keys  //                     w   h     x     y      rot     rx     ry
        = <&key_physical_attrs 100 100    0   78       0     0     0>
        , <&key_physical_attrs 100 100  120   19     500   170    69>
        , <&key_physical_attrs 100 100  243    0    1000   293    50>
        , <&key_physical_attrs 100 100  336   50    1000   386   100>
        , <&key_physical_attrs 100 100  808   50 (-1000)   858   100>
        , <&key_physical_attrs 100 100  901    0 (-1000)   951    50>
        , <&key_physical_attrs 100 100 1024   19  (-500)  1074    69>
        , <&key_physical_attrs 100 100 1144   78       0     0     0>
        , <&key_physical_attrs 100 100    0  178       0     0     0>
        , <&key_physical_attrs 100 100  112  119     500   162   169>
        , <&key_physical_attrs 100 100  226   99    1000   276   149>
        , <&key_physical_attrs 100 100  320  148    1000   370   198>
        , <&key_physical_attrs 100 100  824  148 (-1000)   874   198>
        , <&key_physical_attrs 100 100  918   99 (-1000)   968   149>
        , <&key_physical_attrs 100 100 1032  119  (-500)  1082   169>
        , <&key_physical_attrs 100 100 1144  178       0     0     0>
        , <&key_physical_attrs 100 100    0  278       0     0     0>
        , <&key_physical_attrs 100 100  104  218     500   154   268>
        , <&key_physical_attrs 100 100  210  198    1000   260   248>
        , <&key_physical_attrs 100 100  303  247    1000   353   297>
        , <&key_physical_attrs 100 100  840  247 (-1000)   890   297>
        , <&key_physical_attrs 100 100  934  198 (-1000)   984   248>
        , <&key_physical_attrs 100 100 1040  218  (-500)  1090   268>
        , <&key_physical_attrs 100 100 1144  278       0     0     0>
        , <&key_physical_attrs 100 100  259  361    2500   309   411>
        , <&key_physical_attrs 100 100  353  425    4000   403   475>
        , <&key_physical_attrs 100 100  791  425 (-4000)   840   475>
        , <&key_physical_attrs 100 100  885  361 (-2500)   935   411>
        ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        layout {
            physical-layout = <&default_layout>;
            positions = <>;
        };
    };
};
